@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: white;
}

.container {
  height: 100vh;
  width: 800px;
  margin: 0 auto;
  padding: 26px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}

h2, h3 {
  text-align: center;
}

h2{
  font-size: 1.2em;
}

h3{
  font-size: 1.0em;
  font-weight: normal;
}

label {
  font-weight: bold;
}

input {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

#container-empresa {
  border: 2px solid rgba(0, 0, 0, 0.6);
  padding: 10px;
  margin-bottom: 18px;
}

#form-empresa {
  display: flex;
  align-items: center;
}

#input-empresa {
  flex: 1;
}

#container-titulo-dados-pessoais{
  border: 2px solid rgba(0, 0, 0, 0.6);
  padding: 2px;
}

#div1{
  display: flex;
}

#input-funcionario{
  flex: 1;
}

#div2{
  display: flex;
}

#input-local-nascimento{
  flex: 1;
}

#input-estado-nascimento{
  width: 60px;
  margin-left: 10px;
}

#div3{
  display: flex;
}

#div4 {
  display: flex;
}

#input-nome-pai, #input-nome-mae {
  flex: 1;
}

#select-estado-civil {
  width: 80px;
  text-align: center;
}